bayesian-optimization
black
datasets
fastapi
huggingface_hub
ipywidgets
islp
lightgbm
matplotlib
nltk
numpy
pandas
pytest
seaborn
scipy
scikit-learn
spacy
statsmodels
tensorflow
tiktoken
torch
torchvision
xgboost