### included in rapids ai docker image
##cuGraph
##RMM maybe this gets installed automatically

cucim-cu13==25.10.*
cudf-cu13==25.10.*
dask-cudf-cu13==25.10.*
cuml-cu13==25.10.*
cuxfilter-cu13==25.10.*
pylibraft-cu13==25.10.*
raft-dask-cu13==25.10.*
cuvs-cu13==25.10.*

cucim=25.10.*
cudf=25.10.*
cuml=25.10.*
cuxfilter=25.10.*
cuvs-cu13==25.10.*

bayesian-optimization
black
datasets
fastapi
huggingface_hub
ipywidgets
islp
jupyterlab
kagglehub
lightgbm
matplotlib
nltk
pytest
python-dotenv
seaborn
spacy
statsmodels
tensorflow
torch
torchvision
wandb